*{
  background: #0d0d0d;
}

center{
  margin:0;
}

body{
  margin:0;
}

#display_csv_data{
  color: #ffffff
}

#title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100vw;
  background: #0d0d0d;
  margin-bottom:0;
}

h2{
  color: #ed1219;
  background: #0d0d0d;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

#input{
  color: #ffffff;
  background: #0d0d0d;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40vw;
  margin-right: 40vw;
  text-align: left;
  height: auto;
  resize: none;
}

#retrain{
  background: #ed1219;
  color: #454545;
}

#multi_predict{
  background: #ed1219;
  color: #454545;
}

#predict{
  background: #454545;
  color: #ed1219;
  margin-left: 1vw;
  margin-right: 1vw;
}

#file_upload{
  display: none;
}

#multi_predict_input{
  display: none;
}

.col{
  display: grid;
}

.row{
  margin-left: 40vw;
  margin-right: 40vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#file_input{
  background:#ed1219;
}


